.recipeDate{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 90%;
}
.recipeDate input{
    height: 30px;
}
.recipeDate textarea{
    height: 100px;
}


.error {
    margin:0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    font-family: 'Benne', serif;
    color: #FFF;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.6);
}