@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Grenze:wght@500&family=Stint+Ultra+Condensed&display=swap');
.page{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../../assets/landingpage.webp');  
    position: fixed;
	width: 100%;
	height: 100%;
	margin: -8px 0px 0px -8px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.landing{
    display: flex;
    flex-direction: column;
    color: #f6e5e9;   
    border-radius: 15px;
    width: 100%;
    margin: 50px;
    text-shadow: 0 8px 10px #214252, 1px -2px 1px #214252; /*sombra del texto*/
    text-align:center;
}

.landing h4{
    font-size: 40px;
}

.landing p{
    font-size: 25px; 
}

.btn { 
    margin: auto;
    /* Establesco el posicionamiento para que el boton este centrado */
    display: inline-block;
    /* Cambio a inline-block para que nos permita darle dimensiones */
    text-decoration: none;
    width: 200px;
    height: 50px;
    text-align: center;
    position: relative;
    /* Permite que el ancho y el alto contengan los objetos hijos */
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    /* Establesco las transiciones con la funcion cubic-bezier */
}
.btn div { /*Establesco el circulo que se va a estirar para formar el fondo */
    position: absolute;
    background-color: #AF2D2D;
    height: 100%;
    width: 50px;
    /* Ancho inicial del boton */
    border-radius: 25px;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.btn div span { /*El span lo usaremos para hacer la flecha*/
    display: block;
    /* Por defecto tra display:inline, el block nos permite modificar dimensiones */
    position: absolute;
    /* Para acomodarlo en left y top */
    top: calc(50% - 1px); /* calc nos permite realizar calculos aritemticos
    lo usaremos para calcular la posicion de la flecha vertical*/
    left: 8px;
    height: 2px;
    width: 0px; /*la flecha vertical comienza en 0*/
    background-color: #f6e5e9; /* color de la flecha vertical*/
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.btn div span::before { /* :before, agregar contenido antes*/
    display: block;
    content: ""; /* para que un antes o despues puedan existir debe tener un contenido*/
    height: 2px;
    width: 10px;
    background-color: #f6e5e9;
    position:absolute;
    top: -3px; /*para que suba*/
    left: 13px;
    transform: rotate(45deg); /*para que haga una diagonal hacia abajo "\" */
}
/* se usaran before y after para dibujar las puntas de la flecha*/
.btn div span::after { /* :after, agregar contenido despues*/
    display: block;
    content: ""; /* para que un antes o despues puedan existir debe tener un contenido*/
    height: 2px;
    width: 10px;
    background-color: #f6e5e9;
    position:absolute;
    top: 3px; /*para que baje*/
    left: 13px; /*en ambos casos va a posicionar el objeto pasando el <span>*/
    transform: rotate(-45deg); /*para que haga una diagonal hacia arriba "/" */
}

/*movimiento*/

.btn:hover div {
    width: 100%; /*cambiamos el ancho */
}

.btn:hover div span {
    left:25%; /*movemos la flecha un cuarto del tamaño del boton*/
    width: 20px; /*cambiamos el ancho */
}

.btn p {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-shadow: 0 8px 10px #231e23, 1px -2px 1px #231e23;
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 13.5px);
    z-index: 1;
    color: #f6e5e9;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.btn:hover p {
    color: #f6e5e9;

}